<!DOCTYPE html>
<html>
<head>
	<title>Heading Example</title>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Comatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, intial-scale=1">
	<link href="css/bootstrap.min.css" rel="stylesheet">
	<link href="style.css" rel="stylesheet">
</head>

<body>
<h1>Fråga 1.</h1>
<p>I vilket land ligger staden Antwerpen?</p>

<button type="button" class="btn btn-primary">Luxenburg</button>
<button type="button" class="btn btn-success">Schweiz</button>
<a href="file:///Users/sofiag/Documents/tjejerkodar/quiz-templates/results.html"><button type="button" class="btn btn-info">Belgien</button></a>

<br>

<p class="question">1. I vilket land ligger Antwerpen?</p>
<ul class="answers">
<input type="radio" name="q1" value="a" id="q1a"><label for="q1a">Luxenburg</label><br/>
<input type="radio" name="q1" value="b" id="q1b"><label for="q1b">Schweiz</label><br/>
<input type="radio" name="q1" value="c" id="q1c"><label for="q1c">Belgien</label><br/>
</ul>
<br>
<a href="file:///Users/sofiag/Documents/tjejerkodar/quiz-templates/question.html"><button type="submit">Nästa fråga</button></a>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="js/bootstrap.min.js"></script>

<h1>{{ question_number }}. {{ question }}</h1>
	<p>{{ answer1 }}</p>
	<p>{{ answer2 }}</p>
	<p>{{ answer3 }}</p>


</body>
</html>