<!DOCTYPE html>
<html>
<head>
	<title>Startsida quiz</title>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Comatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, intial-scale=1">
	<link href="css/bootstrap.min.css" rel="stylesheet">
	<link href="style.css" rel="stylesheet">
</head>

<body>
<h1>Frågesport!</h1>
<p>Älskar du att quizza och utmana dig själv och dina vänner? Saknar du ofta ett detaljerat svar? Då har du kommit till rätt ställe.... </p>
<p>Välj ditt favoritämne:</p>
		<ul>

		<li><a class="button" href="file:///Users/sofiag/Documents/tjejerkodar/quiz-templates/quiz.html">Geografi</a></li>
		<li><a class="button" href="file:///Users/sofiag/Documents/tjejerkodar/quiz-templates/quiz.html">Historia</a></li>
		<li><a class="button" href="file:///Users/sofiag/Documents/tjejerkodar/quiz-templates/quiz.html">Film</a></li>
		<li><a class="button" href="file:///Users/sofiag/Documents/tjejerkodar/quiz-templates/quiz.html">Litteratur</a></li>
		<li><a class="button" href="file:///Users/sofiag/Documents/tjejerkodar/quiz-templates/quiz.html">Natur</a></li>
		<li><a class="button" href="file:///Users/sofiag/Documents/tjejerkodar/quiz-templates/quiz.html">Musik</a></li>
		<li><a class="button" href="file:///Users/sofiag/Documents/tjejerkodar/quiz-templates/quiz.html">Sport och fritid</a></li>
		<li><a class="button" href="file:///Users/sofiag/Documents/tjejerkodar/quiz-templates/quiz.html">Teknologi</a></li>

		</ul>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="js/bootstrap.min.js"></script>

{% for quiz in quizzes %}
	<p>{{ quiz.name }}</p>
{% endfor %}

</body>
</html>